/SEMANA 1/Programas/ejecutarTriangulos/nbproject/private/
/SEMANA 3/New Folder/EjecutarHumano/nbproject/private/
/SEMANA 3/New Folder/EjecutarHumano/build/
/Semana 4/Programas/ejecutarHospítal/nbproject/private/
/Semana 4/Programas/ejecutarHospítal/build/
/Semana 4/Programas/EjecutarCarritoCompra/nbproject/private/
/SEMANA 6/EjCalificaciones/nbproject/private/
/SEMANA 6/EjCalificaciones/build/
/SEMANA 7/EjTelevisor/nbproject/private/
/SEMANA 7/EjTelevisor/build/
/SEMANA 7/ejecutorDocentes/nbproject/private/
/SEMANA 7/modeloVC/nbproject/private/
/SEMANA 7/Ej_TallerPadel/nbproject/private/
/SEMANA 9/practicaHerencia/nbproject/private/
/SEMANA 9/practicaHerencia/build/
/SEMANA 10/EjecutarElectrodomesticos/nbproject/private/
/SEMANA 10/Televisor/nbproject/private/
/SEMANA 10/EjecutarMecanica/nbproject/private/
/SEMANA 11/EjecutarPagos/nbproject/private/
/SEMANA 11/EjecutarPagos/build/
/SEMANA 11/EjecutarJuegoRol/nbproject/private/
/SEMANA 11/EjecutarMenusRestaurante/nbproject/private/
/SEMANA 11/EjecutarMenusRestaurante (2)/EjecutarMenusRestaurante/EjecutarMenusRestaurante/build/
/SEMANA 11/EjecutarMenusRestaurante (2)/EjecutarMenusRestaurante/EjecutarMenusRestaurante/nbproject/private/
/SEMANA 11/EjecutarMenusRestaurante (2)/JavaApplication47/nbproject/private/
/SEMANA 11/EjecutarJuegodeRol/EjecutarJuegodeRol/target/
/SEMANA 14/EjecutarDataBase/nbproject/private/
/SEMANA 15/BaseDatos/nbproject/private/
/SEMANA 15/SistemaGestiónTorneos/nbproject/private/
/SEMANA 15/SistemaGestiónTorneos/build/
