/SEMANA 1/Programas/ejecutarTriangulos/nbproject/private/
/SEMANA 3/New Folder/EjecutarHumano/nbproject/private/
/SEMANA 3/New Folder/EjecutarHumano/build/
/Semana 4/Programas/ejecutarHospítal/nbproject/private/
/Semana 4/Programas/ejecutarHospítal/build/
/Semana 4/Programas/EjecutarCarritoCompra/nbproject/private/
/SEMANA 6/EjCalificaciones/nbproject/private/
/SEMANA 6/EjCalificaciones/build/
