/SEMANA 1/Programas/ejecutarTriangulos/nbproject/private/
/SEMANA 3/New Folder/EjecutarHumano/nbproject/private/
/SEMANA 3/New Folder/EjecutarHumano/build/
/Semana 4/Programas/ejecutarHospítal/nbproject/private/
/Semana 4/Programas/ejecutarHospítal/build/
/Semana 4/Programas/EjecutarCarritoCompra/nbproject/private/
/SEMANA 6/EjCalificaciones/nbproject/private/
/SEMANA 6/EjCalificaciones/build/
/SEMANA 7/EjTelevisor/nbproject/private/
/SEMANA 7/EjTelevisor/build/
/SEMANA 7/ejecutorDocentes/nbproject/private/
/SEMANA 7/modeloVC/nbproject/private/
/SEMANA 7/Ej_TallerPadel/nbproject/private/
