/java/ciclos-repetitivos/ejemplo-ciclo-while-vendedor/nbproject/private/
/java/ciclos-repetitivos/ejemplo-ciclo-while-vendedor/build/
/java/ciclos-repetitivos/ejemplo-ciclo-for-01/ejemplo-ciclo-for-vendedor/nbproject/private/
/java/ciclos-repetitivos/ejemplo-ciclo-for-01/ejemplo-ciclo-for-vendedor/build/
/java/arreglos/EjemploPOOArchivosTextoSecuencial/ArchivosSecuencialPOO/nbproject/private/
/java/arreglos/EjemploPOOArchivosTextoSecuencial/ArchivosSecuencialPOO/build/
/java/ejercicios-poo/EjerciciosRepaso/nbproject/private/
/java/ejercicios-poo/EjerciciosRepaso/build/